{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="row g-4 py-5 row-cols-1">
    <div class="row">
        <div class="feature col-6">
            <img src="/media/images/MaxVanGorp.jpg" class="roundend mx-auto d-block image" alt=""
                style="border-radius: 20px">
        </div>
        <div class="feature col-6">
            <h2>About Me</h2>
            <p>I'm max and i am cool</p>
        </div>
    </div>
    <div class="row" style="margin-top:25px;">
        <div class="col-2"></div>
        <div class="feature col">
            <h2>Skills</h2>
            <div class="row">

            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1"><i class="fab fa-js-square"></i></div>
                        <div class="col-4">
                            <h3>javascript</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="skill_item">

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1"><i class="fab fa-python"></i></div>
                        <div class="col">
                            <h3>python/django</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="skill_item">

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1"><i class="fab fa-php"></i></div>
                        <div class="col">
                            <h3>php</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="skill_item">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"><span>80%</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1"><i class="fab fa-html5"></i></div>
                        <div class="col">
                            <h3>html</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="skill_item">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"><span>80%</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1"><i class="fab fa-css3-alt"></i></div>
                        <div class="col float-left">
                            <h3>css</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="skill_item">

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"><span>50%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="feature col-6">
            <h2>Social Media</h2>
            <div class="row">
                <div class="col"><a href="https://github.com/maxvGG" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/max-van-gorp-aa205a1a6/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}