{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="main-container">
            <h3>post form</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-primary" type="submit" value="Submit Post">
            </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}